**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vscode
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/__pycache__
**/secrets.dev.yaml
**/values.dev.yaml
README.md
.jsbeautifyrc
.markdownlint.json